<app-layout>
    <div class="content">
      <div class="row">
        <table class="table table-borderless table-dark">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Name</th>
              <th scope="col">Phone Number</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let r of referees">
              <th id="acId">{{ r.id }}</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </app-layout>
